# Used when a commit is tagged and pushed to the repository
# This makes use of caching for faster builds and uploads the resulting artifacts
name: build-tag

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Extract current branch name
        shell: bash
        # bash pattern expansion to grab branch name without slashes
        run: ref="${GITHUB_REF#refs/heads/}" && echo "branch=${ref////-}" >> $GITHUB_OUTPUT
        id: ref
      - name: Checkout sources
        uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          cache-read-only: true
      - name: Make gradlew executable
        run: chmod +x ./gradlew
      - name: Execute Gradle build
        run: ./gradlew build -Pbuild.release=true

      - name: Rename JAR for distribution
        run: |
          MAIN_JAR=$(ls build/libs/*.jar | grep -v 'sources' | head -n 1)
          SOURCES_JAR=$(ls build/libs/*sources*.jar | head -n 1)

          VERSION=$(grep '^mod_version=' gradle.properties | cut -d'=' -f2)
          MC_VERSION=$(grep '^minecraft_version=' gradle.properties | cut -d'=' -f2)

          BASE="bbe-${VERSION}+${MC_VERSION}"

          mv "$MAIN_JAR" "build/libs/${BASE}.jar"
          mv "$SOURCES_JAR" "build/libs/${BASE}-sources.jar"

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: bbe-artifacts-${{ steps.ref.outputs.branch }}
          path: build/libs/*.jar
