# Automatically build the project and run any configured tests for every push.
# This can help catch issues that only occur on
# certain platforms or Java versions, and provides a first line of defense
# against bad commits.

name: build

on:
  push:

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - name: Extract current branch name
        shell: bash
        run: |
          ref="${GITHUB_REF#refs/heads/}"
          echo "branch=${ref////-}" >> $GITHUB_OUTPUT
        id: ref

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'microsoft'

      - name: Make Gradle wrapper executable
        run: chmod +x ./gradlew

      - name: Build
        run: ./gradlew build

      - name: Rename JAR for distribution
        run: |
          MAIN_JAR=$(ls build/libs/*.jar | grep -v 'sources' | head -n 1)
          SOURCES_JAR=$(ls build/libs/*sources*.jar | head -n 1)
          
          VERSION=$(grep '^mod_version=' gradle.properties | cut -d'=' -f2)
          MC_VERSION=$(grep '^minecraft_version=' gradle.properties | cut -d'=' -f2)
          
          BASE="bbe-${VERSION}+${MC_VERSION}-build.${{ github.run_number }}"
          
          mv "$MAIN_JAR" "build/libs/${BASE}.jar"
          mv "$SOURCES_JAR" "build/libs/${BASE}-sources.jar"

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: bbe-artifacts-${{ github.run_number }}
          path: build/libs/*.jar